body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-size: 12px;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}

header{
  text-align: center;
}

nav{
  text-align: center;
  background-color: grey;
  padding: 10px 0;
}
nav{
  text-align: center;
  background-color: grey;
  padding: 10px 0;
}

nav a{
  padding: 10px;
  color: white;
  text-decoration: none;
}

#featured-property figure{
  text-align: center;
}

#featured-property img{
  display: block;
  margin: 0 auto;
  width: 900px;
}

figcaption{
  text-align: center;
  font-size: 14px;
  color: grey;
}
#featured-property p{
  width: 800px;
  margin: 20px auto;
  text-align: center;
}
#details{
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 20px;
}

#details div{
  width: 25%;
  text-align: center;
  background-color: lightgrey;
  padding: 15px;
  box-sizing: border-box;
}
